<br>
<br>
<div class="text-center">
    <img src="./assets/Logo.jpeg" class="rounded" alt="...">
    <br>
    <div class="card" >
        <div id="div2"class="card-body">
            <p>Somos una empresa de entretenimiento con establecimientos fisicos ademas de contar 
                con una plataforma de streaming. <br> Ubicada en Aguascalientes Ags México;
                Nuestra misión es ofrecer un servicio excelente a nuestros clientes, <br>
                ser un socio valioso para sus proveedores, generar perspectivas de un crecimiento rentable, <br>
                generar nuevas oprtunidades de trabajo ademas de brindarles una experiencia cinematica unica.
            </p>
            <p>
                (Este es un proyecto universitario sin fines de lucro)
            </p>
        </div>
      </div>
  </div>
  