<h1>Proximamente
    
</h1>

<div class="container-img">
    <div class="box-img">
        <a href="#">
            <figure>
                <img src="../../assets/img/img1.jpg" alt="img-galeria">
            </figure>
        </a>

    </div>
    <div class="box-img">
        <a href="#">
            <figure>
                <img src="../../assets/img/img2.jpeg" alt="img-galeria">
            </figure>
        </a>

    </div>
    <div class="box-img">
        <a href="#">
            <figure>
                <img src="../../assets/img/img3.jpg" alt="img-galeria">
            </figure>
        </a>

    </div>
    <div class="box-img">
        <a href="#">
            <figure>
                <img src="../../assets/img/img4.jpeg" alt="img-galeria">
            </figure>
        </a>

    </div>
    <div class="box-img">
        <a href="#">
            <figure>
                <img src="../../assets/img/img5.jpg" alt="img-galeria">
            </figure>
        </a>

    </div>
    <div class="box-img">
        <a href="#">
            <figure>
                <img src="../../assets/img/img6.webp" alt="img-galeria">
            </figure>
        </a>

    </div>
    <div class="box-img">
        <a href="#">
            <figure>
                <img src="../../assets/img/img7.jpeg" alt="img-galeria">
            </figure>
        </a>

    </div>
   

</div>