<br><section>
    <div style="padding-left: 500px;">
        <br>
        <div id="card" class="card mb-3" style="max-width: 840px;">
          <div class="row g-0">
            <h5 class="card-title" style="padding-left: 40%; font-size: 25px;">Cartelera</h5>
          </div>
          <div style="padding-left: 18%;"><app-trailer></app-trailer></div>
        </div>      
      <div id="card" class="card mb-3" style="max-width: 840px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./assets/amor.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <h5 class="card-title">Amor A Primer Mensaje <br>
                Love Again (Estados Unidos, 2023)</h5>
                <div>
                  <button type="button" class="btn btn-secondary">B</button>
                  <button type="button" class="btn btn-primary">104 MIN</button>
                  <button type="button" class="btn btn-danger"onclick="location.href='https://youtu.be/zcRl1QqcX8I'">TRAILER</button>
                </div>
              <p class="card-text"></p>
              <p class="card-text"><small class="text-body-secondary"></small></p>
              <button type="button" class="btn btn-outline-warning" (click)="OnClick()">Buy</button>
            </div>
          </div>
          <div class="col-md-4">

            <h5 class="card-title">Rob es un periodista, quien es cautivado por la honestidad de los hermosos mensajes con confesiones. Cuando a Rob le asignan escribir un reportaje de la famosa cantante Celine Dion, él busca ayuda para descubrir cómo conocer a Mira y conquistar su corazón. </h5>
  
          </div>
        </div>
      </div>      
      <div id="card" class="card mb-3" style="max-width: 840px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./assets/guardianes.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <h5 class="card-title">Guardianes de la Galaxia Vol. 3 <br>
                Guardians of the Galaxy Vol. 3 (EUA, 2023)</h5>
                <div>
                  <button type="button" class="btn btn-secondary">B</button>
                  <button type="button" class="btn btn-primary">95 MIN</button>
                  <button type="button" class="btn btn-danger"onclick="location.href='https://youtu.be/sinstLBy9l8'">TRAILER</button>
                </div>
              <p class="card-text"></p>
              <p class="card-text"><small class="text-body-secondary"></small></p>
              <button type="button" class="btn btn-outline-warning"(click)="OnClick()">Buy</button>
            </div>
          </div>
          <div class="col-md-4">

            <h5 class="card-title">Nuestra querida banda de inadaptados tiene un aspecto algo distinto. Peter Quill, todavía conmocionado por la pérdida de Gamora, debe reunir al equipo en torno a él para defender el universo mientras protege a uno de los suyos </h5>
  
          </div>
        </div>
      </div>      
      <div id="card" class="card mb-3" style="max-width: 840px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./assets/papa.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <h5 class="card-title">El Exorcista del Papa <br>
                The Pope's Exorcist (Estados Unidos, 2023)</h5>
                <div>
                  <button type="button" class="btn btn-secondary">B</button>
                  <button type="button" class="btn btn-primary">103 MIN</button>
                  <button type="button" class="btn btn-danger"onclick="location.href='https://youtu.be/a-Cx7IE04sA'">TRAILER</button>
                </div>
              <p class="card-text"></p>
              <p class="card-text"><small class="text-body-secondary"></small></p>
              <button type="button" class="btn btn-outline-warning" (click)="OnClick()">Buy</button>
            </div>
          </div>
          <div class="col-md-4">

            <h5 class="card-title">Un sacerdote que ejerció como exorcista principal del Vaticano, realizando más de cien mil exorcismos a lo largo de su vida. Amorth escribió dos libros de memorias donde detalló sus experiencias luchando contra Satanás </h5>
  
          </div>
        </div>
      </div>
      <div id="card" class="card mb-3" style="max-width: 840px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./assets/evil.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <h5 class="card-title">Evil Dead: El Despertar <br>
                Evil Dead Rise (Estados Unidos, 2023)</h5>
                <div>
                  <button type="button" class="btn btn-secondary">C</button>
                  <button type="button" class="btn btn-primary">97 MIN</button>
                  <button type="button" class="btn btn-danger"onclick="location.href='https://youtu.be/qrl1JWv4df8'">TRAILER</button>
                </div>
              <p class="card-text"></p>
              <p class="card-text"><small class="text-body-secondary"></small></p>
              <button type="button" class="btn btn-outline-warning"(click)="OnClick()">Buy</button>
            </div>
          </div>
          <div class="col-md-4">

            <h5 class="card-title">Beth, cansada de la carretera, hace una visita a su hermana mayor Ellie, que está criando a tres hijos sola en un pequeño apartamento de Los Ángeles. La reunión de las hermanas se ve interrumpida por el descubrimiento de un libro misterioso en las profundidades del edificio de Ellie</h5>
  
          </div>
        </div>
      </div>
      <div id="card" class="card mb-3" style="max-width: 840px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./assets/mario.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <h5 class="card-title">Super Mario Bros. La Película <br>
                Super Mario Bros. (Estados Unidos, 2023)</h5>
                <div>
                  <button type="button" class="btn btn-secondary">AA</button>
                  <button type="button" class="btn btn-primary">92 MIN</button>
                  <button type="button" class="btn btn-danger"onclick="location.href='https://youtu.be/VvCyqVG1HPI'">TRAILER</button>
                </div>
              <p class="card-text"></p>
              <p class="card-text"><small class="text-body-secondary"></small></p>
              <button type="button" class="btn btn-outline-warning"(click)="OnClick()">Buy</button>
            </div>
          </div>
          <div class="col-md-4">

            <h5 class="card-title">Mientras trabajan en una avería subterránea, los fontaneros de Brooklyn, Mario y su hermano Luigi, viajan por una misteriosa tubería hasta un nuevo mundo mágico. Pero, cuando los hermanos se separan, Mario deberá emprender una épica misión para encontrar a Luigi. </h5>
  
          </div>
        </div>
      </div>
    </div>
  
      
  </section>
  